%form.form-inline
  .form-group
    %label{:name => "name"} Name
    %input#exampleInputName2.form-control{:name => "name", :placeholder => "Jane Doe", :type => "text"}
  .form-group
    %label{:name => "phone"} Phone
    %input#exampleInputPhone2.form-control{:name => "phone", :placeholder => "555-555-1234", :type => "phone"}
  %button.btn.btn-default{:type => "submit"} Call me
